{{<layout}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.details.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}

{{#select}}police-force{{/select}}
{{#input-text}}originator-email{{/input-text}}
{{#input-text}}asn-reference{{/input-text}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
